<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Crucero al horizonte</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <!-- Menú común -->
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Crucero" asp-action="CruceroIndex">Cruceros</a>
                </li>

                <!-- Dropdown Mantenimientos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-wrench"></i> Mantenimientos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Autor" asp-action="Index">Autores</a></li>
                        @if (User.IsInRole("Administrador") || User.IsInRole("Cliente"))
                        {
                            <li><a class="dropdown-item" asp-controller="Crucero" asp-action="CruceroIndex">Cruceros</a></li>
                        }
                    </ul>
                </li>

                <!-- Dropdown Seguridad -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fs-4 bi-people"></i> Seguridad
                    </a>
                    @if (User.IsInRole("Administrador"))
                    {
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Usuario")" class="dropdown-item">Usuario</a></li>
                        </ul>
                    }
                </li>

                <!-- Perfil -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="rounded-circle mx-2 mt-1" src="~/images/profile.png" alt="@User.Identity!.Name" width="32" height="32" />
                        <span class="d-none d-sm-inline mx-1">@User.Identity!.Name</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Login" asp-action="LogOff">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
